@import url(https://fonts.googleapis.com/css?family=Pacifico);

.navbar {
	z-index: 1;
	box-shadow:0 0 5px 5px rgba(0,0,0,0.1);
}
.navbar-text{
	font-family: 'Pacifico', cursive;
	font-weight: 100;
	font-size: 2rem;
}

.wrapper{
	background: rgba(255,255,255,0.95);
	margin: 1vh;
}
.wrapper > *{
	padding: 1vh;
	z-index: 1;
	box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.1);
}

.wellcone-text{
	font-family: 'Pacifico', cursive;
	font-size: 2rem;
}
.info-text{
	font-family: 'Pacifico', normal;
	font-size: 2vh;
	margin-top: 5px;
}

.panel{
	margin-top: 2rem;
}